<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                                 http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">


	<context:component-scan base-package="org.antran"></context:component-scan>

	<channel id="helloWorldChannel"></channel>

	<service-activator input-channel="helloWorldChannel"
		ref="helloServiceImpl" method="hello"></service-activator>


	<!-- With Reply -->
	<channel id="helloWorldChannelWithReply"></channel>

	<service-activator input-channel="helloWorldChannelWithReply"
		ref="helloServiceImpl" method="getHelloMessage"></service-activator>

	<gateway id="helloWorldGateway"
		service-interface="org.antran.integration.helloworld.service.HelloService"
		default-request-channel="helloWorldChannelWithReply"></gateway>

</beans:beans>


